
body {
    background-image: url('/public/img/bg-blur.jpg');
}

.navbar {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
}

.navbar-nav .nav-link {
    filter: drop-shadow(0 0 0 transparent);
    transition: filter 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    filter: drop-shadow(0 0 5px rgb(255, 255, 0));
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fix-header {
    height: 100vh;
}
.strike-through {
    text-decoration-line: line-through;
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: filter 0.5s ease;
}

swiper-slide:not(.swiper-slide-active) img {
    filter: blur(3px);
    opacity: 0.7;
}

swiper-slide-active img {
    filter: blur(0);
    opacity: 1;
}